{% extends 'base.html.twig' %}

{% block title %}Service Client{% endblock %}

{% block content %}
<br>
<h2>Notre service client disponible 6j/7</h2>
<hr>
<p>Vous ne trouvez pas la réponse à votre question?</p>
<p>Le Service Clients <strong>HelssySkin</strong> est toujours prêt à vous aider :</p>
    <li>Par téléphone au : 0 820 840 444, du lundi au vendredi entre 10h-18h et le samedi entre 9h-12h,</li>
    <li>Par e-mail sur : contact@helssyskin.com,</li>
    <li>En nous contactant ici via le formulaire de contact,</li>
    <li>En nous écrivant à l'adresse suivante : 28 boulevard du Général Leclerc, 77000 MELUN.</li>

    <p>En savoir plus, n'hésitez pas à consulter notre <b><a href="{{ path('faq') }}">FAQ.</a></b>
    </p>
    <br/><br/>
{% endblock %}