{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block content %}
    <br>
    <h5 class="title_faq">COMMANDE</h5>
    <hr>
        <p>Où est mon colis?<br>
        J'ai un problème avec mon colis, comment faire?<br>
        Je me suis trompé d'adresse email lors du paiement, comment faire?<br>
        Je n'ai pas reçu d'email de confirmation, comment faire?<br>
        Comment modifier ou annuler ma commande?</p>

    <h5 class="title_faq">LIVRAISON</h5>
    <hr>
        <p>Combien coûte la livraison?<br>
        Quel est le délai de livraison?<br>
        Est-il possible d'être livré dans les territoires d'OUTRE MER?<br>
        Est-il possible d'être livré en EUROPE?<br>
        Est-il possible d'être livré au CANADA et aux ÉTATS-UNIS?<br>
        Est-il possible d'être livré au MAGHREB?</p>

    <h5 class="title_faq">RETOURS</h5>
    <hr>
        <p>Quelle est votre politique de retours?<br>
        Comment puis-je effectuer un retour?</p>

    <h5 class="title_faq">PAIEMENT</h5>
    <hr>
        <p>Quelles sont les moyens de paiement sur le site ? / Comment puis-je régler ma commande ?<br>
        Le paiement est-il sécurisé et confidentiel?<br>
        Où puis-je trouver ma facture?</p>

    <h5 class="title_faq">AUTRE DEMANDE</h5>
    <hr>
        <p>Contacter le service client.</p>

{% endblock %}