{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe!{% endblock %}

{% block content %}
<body class="first_mdp"><br/>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-xl-5 my-3 mask-custom rounded-5 shadow-5-strong py-3 mb-5" id="page_mdp">
                <h2 class="title_mdp">Modification mot de passe</h2>
                    <a href="{{ path('app_account') }}">Retourner à mon compte</a><br>
<hr>
                {% if notification %}
                    <div class="alert alert-info">{{ notification }}</div>
                {% endif %}
                {{ form(form) }}
            </div>      
        </div>
    </div>
</body>
{% endblock %}
