{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block content %}
{# Lien vers les produits du visage #}
<div id="shop_HSkin">
        <div class="Visage_HSkin">
            <a href="{{ path('products_visage') }}"><img src="{{ ('/img/img_products/visage_hskin.jpg') }}" alt="visage" class="img_skin_visage"></a>
                <h4 class="visage_path">Visage</h4>

{# Lien vers les produits du corps #}       
        <div class="Corps_HSkin">
            <a href="{{ path('products_corps') }}"><img src="{{ ('/img/img_products/corps_hskin.jpg') }}" alt="corps" class="img_skin_corps"></a>
            <h4 class="corps_path">Corps</h4>  
        </div>
     </div>
</div>
{% endblock %}