{% extends 'base.html.twig' %}

{% block title %}Modalités de paiement{% endblock %}

{% block content %}
<br>
<h2>Modalités de paiement</h2>
<hr>
<p>Vous avez plusieurs possibilités. Vous pouvez régler votre commande en ligne :<br>
    - Par carte bancaire (VISA, electron,...),<br>
    - Par Paypal,<br>
    - Par remise en mains propre<br>
<br>
    Si vous rencontrez des difficultés, n'hésitez pas à nous contacter au 01.60.90.77.42
</p>
<br>
<h2>Politique de remboursement</h2>
<hr>

<p>Nous n'acceptons aucun retour ni échange, sauf si l'article que vous avez acheté est défectueux.<br><br>

    Si vous recevez un produit abîmé, veuillez communiquer avec nous à l'adresse suivante: <strong>contact@helssyskin.com</strong> en nous fournissant une/des photo(s) et les détails de l'état du produit.<br>
    
    Le produit retourné doit impérativement être dans son emballage d'origine.<br><br>
    
    Quand nous aurons reçu le produit retourné, nous l'examinerons attentivement et nous vous indiquerons par courriel, dans un délai raisonnable, si sa défectuosité vous donne droit à un remboursement ou à un remplacement.<br>
    
    Si vous avez droit à un remboursement ou à un remplacement, nous remplacerons le produit ou rembourserons son prix d’achat, selon le mode de paiement original.</p><br>

{% endblock %}
