{% extends 'base.html.twig' %}

{% block title %}CGU/CGV{% endblock %}

{% block content %}

<div id="title_cgucgv" class="container mr-5 ml-5 py-3 mt-3 text-align-justify">
    <h2>Conditions Générales de Vente (CGV)</h2><br>
        <h3>PREAMBULE</h3>
            <p>Les présentes conditions de vente sont conclues d’une part par la société HelssySkin, SASU au capital social de 5 000 euros ci-après dénommée « la société HelssySkin » gérant le site https://helssyskin.com et, d’autre part, par toute personne physique ou morale ci-après dénommée « l’acheteur » souhaitant procéder à un achat via le site internet https://helssyskin.com.</p>
                <h5>ARTICLE 1 : OBJET</h5>
                    <p>Les présentes conditions de vente visent à définir les relations contractuelles entre la société HelssySkin et l’acheteur ainsi que les conditions applicables à tout achat effectué par le biais du site internet https://helssyskin.com. L’acquisition d’un produit à travers le présent site implique une acceptation sans réserve par l’acheteur des présentes conditions de vente dont l’acheteur reconnaît avoir pris connaissance préalablement à sa commande. Avant toute transaction, l’acheteur déclare d’une part que l’achat de produits sur le site https://helssyskin.com est sans rapport direct avec son activité professionnelle et est limité à une utilisation strictement personnelle et d’autre part avoir la pleine capacité juridique, lui permettant de s’engager au titre des présentes conditions générales de ventes. 
                    La société HelssySkin conserve la possibilité de modifier à tout moment ces conditions de ventes, afin de respecter toute nouvelle réglementation ou dans le but d'améliorer l’utilisation de son site. De ce fait, les conditions applicables seront celles en vigueur à la date de la commande par l’acheteur.</p>
                <h5>ARTICLE 2 : PRODUITS</h5>
                    <p>Les produits proposés sont ceux qui figurent sur le site https://helssyskin.com, dans la limite des stocks disponibles. La société HelssySkin se réserve le droit de modifier à tout moment l’assortiment de produits. Chaque produit est présenté sur le site internet sous forme d’un descriptif reprenant ses principales caractéristiques techniques (contenance, utilisation, composition…). Les photographies sont les plus fidèles possibles mais n’engagent en rien la société HelssySkin. La vente des produits présentés sur le site https://helssyskin.com est destinée à tous les acheteurs résidants dans les pays qui autorisent pleinement l’entrée sur leur territoire de ces produits.</p>
                <h5>ARTICLE 3 : TARIFS</h5>
                    <p>Les prix figurant sur les fiches produits du catalogue internet et sont des prix en Euros (€) toutes taxes comprises (TTC) tenant compte de la TVA applicable au jour de la commande. Tout changement du taux de la TVA pourra être répercuté sur le prix des produits. La société HelssySkin se réserve le droit de modifier ses prix à tout moment, étant toutefois entendu que le prix figurant au catalogue le jour de la commande sera le seul applicable à l’acheteur. Les prix indiqués ne comprennent pas les frais de livraison, facturés en supplément du prix des produits achetés suivant le montant total de la commande. En France métropolitaine, pour toute commande supérieure ou égale à 59€ TTC, les frais de port sont offerts en point relais via Mondial Relay ; pour toute commande inférieure à 59€ TTC, un forfait de participation aux frais d’expédition sera facturé à l’acheteur en fonction du mode de livraison choisi et du pays de destination de la commande.</p>
                <h5>ARTICLE 4 : RETOURS ET RETRACTATIONS</h5>
                    <p>En vertu de l’article L121-20 du code de la consommation, l’acheteur dispose d'un délai de quatorze jours ouvrables à compter de la livraison de sa commande pour exercer son droit de rétractation et ainsi faire retour du produit au vendeur pour remboursement sans pénalité, à l’exception des frais de retour.
                    Les produits doivent être retournés en parfait état de revente, non utilisés et dans leur emballage d’origine dûment scellé. Avant de procéder au retour des produits, l’acheteur devra contacter la société HelssySkin via l’adresse mail contact@helssyskin.com pour vérifier que le retour est possible. La société HelssySkin se réserve le droit de refuser le retour ou le remboursement d’un produit, notamment si l’ouverture et l’utilisation du produit ne peuvent être vérifiés. Le remboursement sera effectué par virement bancaire dans un délai de quatorze jours suivant la date de réception des produits par la société HelssySkin. Les retours des commandes expédiées en France métropolitaine et hors de France métropolitaine sont à la charge de l’acheteur. Si le retour ne possède pas de numéro de suivi, aucune réclamation ne pourra être acceptée.</p>
                <h5>ARTICLE 5 : LIVRAISON</h5>
                    <p>Pour les livraisons à domicile, si la remise en main propre ou dans la boite aux lettres s’avère impossible, l'acheteur reçoit un avis de passage et la livraison sera re-programmée.
                    Les colis livrés en point relais via Mondial Relay peuvent être retirés dans les sept jours suivant leur arrivée dans le point relais. Passé ce délai, le colis sera retourné à la société HelssySkin et des frais supplémentaires seront appliqués en cas de ré-expédition.   
                    Lorsque l’acheteur récupère son colis auprès du livreur ou du point relais, celui-ci est tenu de vérifier l'état de l'emballage de la marchandise et son contenu à la livraison. Dans l'hypothèse où l'acheteur aurait un quelconque doute de quelque nature que ce soit sur l'état ou le contenu de son colis, il est tenu :
                    - d'appliquer la procédure de réclamation du transporteur (notamment signaler les dommages dus, toutes réclamations et réserves) et de refuser la marchandise en émettant immédiatement un constat d'anomalie immédiatement auprès du préposé.
                    - de signaler ces incidents dans un délai de 48h à la société HelssySkin par mail à l’adresse suivante : contact@helssyskin.com en précisant le numéro de commande.  
                    Pour les livraisons hors Union Européenne, des taxes de douane ou d'importation peuvent s'ajouter au prix des produits et restent à la charge de l’acheteur. Il est du ressort de l’acheteur de s'informer de leur montant auprès de son bureau de douane local.    
                    Les délais de livraison indiqués sur le site https://helssyskin.com sont donnés à titre indicatif et correspondent aux délais moyens de traitement et de livraison constatés. La société HelssySkin ne pourra être tenue responsable en cas de retards de livraison.    
                    La société HelssySkin ne pourra être tenue pour responsable en cas d’erreur de saisie de l’adresse postale par l’acheteur.</p>
                <h5>ARTICLE 6 : RESPONSABILITE</h5>
                    <p>La société HelssySkin dans le processus de vente à distance, n’est tenue que par une obligation de moyens. Sa responsabilité ne pourra être engagée pour un dommage résultant de l’utilisation du réseau Internet tel que perte de données, intrusion, virus, rupture du service, ou autres problèmes involontaires.
                    La société HelssySkin propose un service de fourniture de produits, mais n’est en aucun cas ni le concepteur, ni le fabricant, ni le prescripteur de ces produits. Dès lors, la société HelssySkin ne pourra en aucun cas être tenue responsable en cas de dommages indirects, de dommages spéciaux ou d'incidents découlant d'une négligence, d'une défaillance ou d'une maladresse de l’acheteur, ou résultant d'une mauvaise utilisation par l’acheteur de l'un des produits proposés à la vente sur le site https://helssyskin.com. Toute réclamation pouvant résulter de l’utilisation des produits devra être adressée directement au fabricant.   
                    La société HelssySkin ne pourra pas être tenue responsable de la perte ou des dommages subis par les produits commandés sur le site internet lors de leur acheminement par le transporteur vers le client.</p>
                <h5>ARTICLE 7 : PROPRIETE INTELLECTUELLE</h5>
                    <p>Tous les éléments du site https://helssyskin.com sont et restent la propriété intellectuelle et exclusive de la société Helssy Hair. Personne n’est autorisé à reproduire, exploiter, ou utiliser à quelque titre que ce soit, même partiellement, des éléments du site qu’ils soient sous forme de photo, logo, visuel ou texte.</p>
                <h5>ARTICLE 8 : PROTECTION DES DONNEES</h5>
                    <p>La société HelssySkin s'engage à préserver la confidentialité des informations fournies par l’acheteur, qu'il serait amené à transmettre pour l'utilisation de certains services. Toute information le concernant est soumise aux dispositions de la loi n° 78-17 du 6 janvier 1978. À ce titre, l'internaute dispose d'un droit d'accès, de modification et de suppression des informations le concernant. Il peut en faire la demande à tout moment par mail à l’adresse suivante: contact@helssyskin.com.</p>
                <h5>ARTICLE 9 : RESERVE DE PROPRIETE</h5>
                    <p>La société HelssySkin conserve la propriété pleine et entière des produits vendus jusqu'au parfait encaissement du prix, en principal, frais et taxes compris.</p>
                <h5>ARTICLE 10 : REGLEMENT DES LITIGES</h5>
                    <p>Les présentes conditions de vente à distance sont soumises à la loi française. Pour tous litiges ou contentieux, le Tribunal compétent sera celui de Paris.</p>
</div>
    <div id="title_cgucgv" class="container mr-5 ml-5 py-3 text-align-justify">
        <h2>Conditions Générales d'Utilisation (CGU)</h2>
            <h5>ARTICLE 1 : INFORMATIONS GENERALES</h5>
                <p>Ce site internet (ci-après désigné le « Site ») est édité par la société HELSSYSKIN, Société par Actions Simplifiée au capital de 1 €, immatriculée au Registre du Commerce et des Sociétés de Paris sous le n° 418 425 7XX, dont le siège social est situé au 120 Boulevard des Landes – 77 000 MELUN : contact@helssyskin.com
                Directeur de la publication : Ibtissam HAIDANE.                
                L’hébergement du Site est assuré par la société XX Inc.
                La navigation sur ce Site est soumise à la réglementation en vigueur.
                Les présentes dispositions, les Mentions Légales du Site et la Charte de Protection des Données à Caractère Personnel constituent les conditions générales d’utilisation du Site (ci-après désignées les « Conditions Générales d’Utilisation » ou « CGU ») auxquelles sont soumis les Utilisateurs lors de leur navigation sur le Site.
                Le Site a pour objet de mettre à la disposition des Utilisateurs une information et une aide concernant l’ensemble des activités, des produits, des services et des offres de HELSSYSKIN.</p>
            <h5>ARTICLE 2 : DEFINITIONS</h5>
                <p>« CGU » : désigne les présentes Conditions Générales d’Utilisation;
                « Charte de Protection des Données à Caractère Personnel » ou « Charte de Protection des DCP » : désigne la politique de confidentialité concernant les données à caractères personnelles (ci-après « DCP ») accessible à l’URL suivante : https://fr.helssyskin.com/pages/charte-protection-donnees-personnelles ;
                « Commande » : signifie le contrat de vente à distance qui est considéré comme conclu à partir du moment où l’acheteur confirme sa commande en cliquant sur l’icône "Payer" ou "Poursuivre" ;
                « Compte » : signifie l’ensemble des ressources informatiques et réseaux attribuées à un Utilisateur qui ne peut les utiliser qu’en s’identifiant sur le Site avec son nom d’utilisateur et son mot de passe ;
                « Cookie » : signifie un fichier envoyé par le serveur internet au navigateur de l’Utilisateur. Il est stocké sur la mémoire de son appareil ;
                « Donnée(s) Personnelle(s) » ou « DCP »: signifie une information qui permet d’identifier une personne physique, directement (par exemple : nom, prénom, adresse, etc.) ou indirectement, notamment par référence à un identifiant (par exemple, celui qui permet d’accéder à un service ou un espace) ;
                « Force Majeure » : signifie un ou plusieurs évènements imprévisibles, irrésistibles et extérieurs rendant impossible de façon absolue l'exécution par l’une ou l’autre des Parties de ses engagements au sens de la législation en vigueur et de la jurisprudence ;
                « Produit(s) » : désigne le(s) produit(s) développé(s), fabriqué(s) et commercialisé(s) par HELSSYSKIN et proposé(s) à la vente sur le Site ;
                « Service » : signifie l’ensemble du contenu et ressources présents le Site, fourni par HELSSYSKIN et mis à disposition de l’Utilisateur notamment lors de la consultation du Site, création de compte ou achat ;
                « Territoire » : signifie le territoire suivant : la France métropolitaine, Corse inclue ;
                « Utilisateur » : signifie toute personne physique ayant un accès au Site quel que soit le lieu où elle se trouve et les modalités de connexion.
                </p>
            <h5>ARTICLE 3 : UTILISATION ET ACCES AU SITE</h5>
                <p>L’accès et l’utilisation du Site implique l’acceptation sans réserve par l’Utilisateur des Conditions Générales d’Utilisation (comprenant les présentes CGU, Charte de protection des DCP et les Mentions Légales). L’Utilisateur confirme donc avoir lu et compris l’intégralité des présentes CGU avant toute utilisation des Services et s’engage à les respecter.
                L’Utilisateur qui ne souhaiterait pas accepter toute ou partie des CGU ou une modification ultérieure doit renoncer à utiliser le Site. 
                Le Site est accessible gratuitement à l’adresse suivante : https://fr.helssyskin.com. HELSSYSKIN se réserve la possibilité d’interrompre ou de suspendre momentanément l’accès au Site ou d’en modifier l’accès pour des raisons de maintenance ou pour toutes autres raisons, sans que cela ouvre droit à une quelconque indemnité au profit de l’Utilisateur.   
                Pour pouvoir utiliser le Site, l’Utilisateur doit disposer d’un matériel informatique compatible avec les spécifications techniques minimum de HELSSYSKIN. Avant toute utilisation du Site, l’Utilisateur doit s’assurer que son matériel informatique est compatible avec l’utilisation du Site et des produits et services accessibles sur le Site. En aucun cas, la responsabilité de HELSSYSKIN ne pourra être engagée en cas d’impossibilité pour l’Utilisateur d’accéder au Site.</p>
            <h5>ARTICLE 4 : CREATION DE COMPTE</h5>
                <p>L’Utilisateur a la possibilité, mais n’a pas l’obligation, de créer un Compte sur le Site s’il souhaite accéder et profiter des Services ou des offres suivantes :
                Accéder à toutes ses Commandes passées et en cours ;
                Accéder et modifier ses adresses : consulter les adresses déjà enregistrées, ajouter, modifier ou supprimer une adresse ;
                Changer de mot de passe ;
                Déposer un avis pour un Produit étant précisé que l’avis ne sera pas nécessairement publié.
                En créant son Compte, l’Utilisateur accepte les présentes CGU et la Charte de protection des DCP. 
                La création de Compte sur le Site est réservée à toute personne physique âgée d'au moins 18 ans et/ou capable juridiquement.  
                Tous les champs présents dans le formulaire de création de Compte doivent être renseignés à l'exception des champs indiqués comme facultatifs. Tout défaut de réponse aura pour conséquence la non-création de Compte. Toutes les informations renseignées par l'Utilisateur devront être exactes.   
                Lorsque l’Utilisateur crée un Compte sur le Site, il reçoit un email de confirmation de création de Compte le jour même.    
                HELSSYSKIN se réserve le droit de supprimer tout Compte ne respectant pas les présentes CGU.   
                Chaque Utilisateur s’interdit, sans que cette liste soit exhaustive, de publier :

                des contenus contrevenants aux droits d’autrui (vie privée, droit à l’image.. .) ou à caractère diffamatoire, injurieux, obscènes ou offensants ou portant atteinte à la protection des enfants et des adolescents ;
                des contenus présentant un caractère violent, pornographique, le suicide ou qui encourageraient la commission de crimes ou de délits, la discrimination et à la haine raciale;
                des contenus ayant pour finalité de diffuser des messages commerciaux, publicitaires, promotionnels ou de la propagande ;
                des contenus diffusant des conseils ou commentaires contrevenant aux dispositions légales et réglementaires ;
                des contenus contraires aux droits d’auteurs (notamment reproduction, représentation ou diffusion d’une œuvre), aux droits voisins, au droit des marques ou au droit applicable aux bases de données ;
                des liens hypertextes se référant ou renvoyant à des sites extérieurs ou renvoyant à des informations contenant des virus informatiques ou de contournement de dispositifs techniques de protection ou permettant tout acte de piratage ou permettant d’entraver ou perturber l’accès et l’utilisation du Site, des réseaux, des serveurs connectés au Site ;
                De manière générale, tout contenu contraire à la loi et ou à l’ordre public.</p>
            <h5>ARTICLE 5 : MODIFICATION DU SITE ET DES CONDITIONS D'UTILISATION</h5>
                <p>HELSSYSKIN se réserve le droit de modifier à tout moment les CGU, les CGV, la 
                politique Cookies, les Mentions Légales et la Charte de Protection des DCP.
                La dernière version en vigueur des Conditions Générales d’Utilisation est accessible en permanence sur le Site via les onglets dédiés « Mentions Légales », « Conditions Générales d’Utilisation » et « Charte de Protection des DCP » et peut être consultée à tout moment par les Utilisateurs. L’Utilisateur est donc invité à consulter régulièrement la présente rubrique, des mises à jour pouvant avoir été effectuées depuis sa dernière visite.</p>
            <h5>ARTICLE 6 : SECURITE</h5>
                <p>HELSSYSKIN met tout en œuvre, dans le cadre d’une obligation générale de moyens, pour mettre à la disposition des Utilisateurs un site sécurisé. HELSSYSKIN décline toute responsabilité quant aux éventuels défauts techniques liés à l’utilisation du Site.</p>
            <h5>ARTICLE 7 : LOI APPLICABLE ET ATTRIBUTION DE COMPETENCES</h5>
                <p>L’utilisation du Site est régie par la loi française.
                Tout différend qui n’aurait pas pu faire l’objet d’un règlement amiable entre HELSSYSKIN et l'Utilisateur sera soumis à la juridiction française compétente.
                <br>
                COPYRIGHTS <br>
                Crédits photos : <br>
                Copyright© HelssySkin <br>
                Copyright© Ibtissam Haidane</p>
    </div>
{% endblock %}
