{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block content %}

<div id="mentions" class="container mr-5 ml-5 py-5 mt-3 mb-12 justify-content-center">
    <h2>Mentions Légales</h2>
        <hr>
        <p>Informations légales : Le site web <span>helssyskin.com</span> est édité par la société HELSSYSKIN, SASU au capital social de 5 000 euros immatriculée au registre du commerce et des sociétés de Pontoise sous le numéro 898 229 XXX.
        <br/><br/>
        Numéro de TVA Intracommunautaire : FR 29 89 82 29 XXX.
        <br/><br/>
        Siège social : 28 rue du général Leclerc, 77 000, MELUN.
        <br/><br/>
        E-mail : contact@helssyskin.com.
        <br/><br/>
        Responsable de la publication : Ibtissam HAIDANE, Fondatrice.
        <br/><br/>
        Hébergeur : L’hébergement du site est assuré par XXXXX dont le siège social est situé au XXXXXXXXXXXXXXXXXXXXXXXXXXX. 
        <br/><br/>
        Téléphone :XXXXXXXXXXXXXXX.</p>           
</div>

{% endblock %}