{% extends 'base.html.twig' %}

{% block title %}RGPD{% endblock %}

{% block content %}

<div id="title_rgpd" class="container mr-5 ml-5 py-5 mt-3 text-align-justify">
    <h2>Politique de protection des données RGPD</h2>
        <h5>Politique de protection des données :</h5>
            <p>Notre société <strong>HelssySkin</strong> est l’éditrice du contenu du site internet helssyskin.fr et les responsables des traitements de données s’y trouvant.</p>
        <h5>Mesures de sécurité :</h5>
            <p>Très soucieuse de la qualité de ses services, notre société <strong>HelssySkin</strong> s’est engagée depuis très longtemps dans une démarche visant à garantir la sécurité des données qui leur sont confiées. Tous les échanges avec notre site internet sont chiffrés afin de garantir la confidentialité des données et ces dernières sont stockées sur des serveurs dont la sécurité est assurée par un prestataire reconnu dans le domaine de l’hébergement.
            Notre service informatique veille continuellement à l’intégrité du système d’information et des solutions numériques tout en garantissant une gestion fine des droits d’accès permettant de s’assurer que seules les personnes compétentes peuvent traiter vos données, et ainsi, garantir le respect des règlementations françaises et européennes en vigueur en matière de protection des données.</p>
        <h5>Données personnelles collectées :</h5>
            <p>Au cours de votre visite sur notre site internet, aucune donnée n’est collectée à votre insu.</p>
        <h5>Les formulaires :</h5>
            <p>Les données que nous recueillons via nos formulaires sont uniquement celles que vous consentez à nous fournir et ne sont en aucun cas transmises à des tiers et aucun usage commercial n’est fait de ces données. Elles nous sont nécessaires afin de pouvoir répondre à votre demande ou vous fournir le service correspondant. Sauf mention contraire expresse sur le formulaire, seuls les agents des services concernés sont amenés à traiter vos données.</p>
        <h5>Vos droits :</h5>
            <p>Conformément à la loi Informatique et Libertés n° 78-17 du 6 janvier 1978 modifiée, ainsi qu’au Règlement (UE) 2016/679 dit « RGPD », vous disposez de plusieurs droits concernant vos données personnelles :
            Droit d’accès, de rectification et d’effacement de vos données
            Droit à la limitation d’un traitement
            Droit de vous opposer, pour motifs légitimes, à un traitement
            Droit à ne pas faire l’objet d’une décision automatisée
            Droit à la portabilité de vos données
            Pour en savoir plus sur vos droits, vous pouvez consulter le site de la CNIL :<span> https://www.cnil.fr/fr/reglement-europeen-protection-donnees/chapitre3 </span>
            Vous pouvez à tout moment demander à faire exercice de vos droits en nous contactant par email : serviceclient@helssyskin.fr </p>
        <h5>Contact :</h5>
            <p>Pour toutes autres questions, nous sommes joignables au 09 67 35 XX XX ou par email <span>serviceclient@helssyskin.fr</span></p>
</div>

{% endblock %}