
<div class="row">
    <div class="col-lg-4">
        {# <img src="{{ email.image('@img/fleur_lotus.png') }}"> #}
        <h4>HelssySkin</h4><hr>
        <p>Bonjour {{ nom ~ ' ' ~ prenom }},<br/>
            <br/>
            Nous accusons réception de votre demande. Nous vous répondrons dans les plus brefs délais. 
            <br/>
            Votre message :<br/><br/>
            {{ content }}        
            <br/><br/>
            Cordialement,<br/><br/>
            L'équipe HelssySkin<br/>
            {# <img class="fit-picture" src="{{ asset('img/mon_logo.png') }}" alt="hskin"> #}
        </p>
    </div>
</div>
