
<div class="row">
    <div class="col-lg-4">
        {# <img src="https://127.0.0.1:8000/public/img/fleur_lotus.png" alt="fleur_lotus"> #}
        <h4>HelssySkin</h4><hr/>
            <p>Bonjour,<br/>
                <br/>
                Votre inscription a bien été prise en compte.<br/>
                <br/>Bienvenue chez HelssySkin! Vous pouvez dès à présent vous connecter <a href="{{ 'helssyskin.ibtissam-haidane.com' ~ path('app_login') }}">à votre compte</a>.
                <br/><br/>
                Cordialement,<br/>
                L'équipe HelssySkin
            </p>
    </div>
</div>