<div class="row">
    <div class="col-lg-4">
        {# <img src="{{ 'https://127.0.0.1:8000/public/img/fleur_lotus.png' }}" alt="fleur_lotus"> #}
        <h4>HelssySkin</h4></hr>
        <p> Bonjour {{ user }},<br/>
            <br/>
            Vous avez demandé à réinitialiser votre mot de passe sur le site la boutique HelssySkin.<br/>
            Merci de bien vouloir cliquer sur le lien suivant pour <a href="{{ 'update_password' }}">mettre à jour votre mot de passe.</a>"
            <br/><br/>
            Cordialement,<br/>
            L'équipe HelssySkin
        </p>
    </div>
</div>